*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    background-color: #34495e;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  
  .title_texto {
    margin: 0;
    font-size: 24px;
  }
  
  .ejercicios_container {
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
  }
  
  .ejercicios_list {
    list-style: none;
    padding: 0;
  }
  
  .ejercicios_item {
    background-color: #34495e;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s;
  }
  
  .ejercicios_item a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    display: block;
  }
  
  .ejercicios_item:hover {
    background-color: #1abc9c;
  }
  